body {
  font-size: 16pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #181a1b;
  color: white;
  margin: 0px;
}

/* Semantic Styles */
header,
footer {
  text-align: center;
  background-color: rgba(128, 255, 0, 0.4);
  border-radius: 0 0 5px 5px;
  padding: 2%;
}

header {
  grid-area: header;
  margin-bottom: .5rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  grid-area: main;
}

figure {
  margin: .5rem 0;
  padding: .2rem;
  background-color: rgba(128, 255, 0, 0.4);
  border-radius: 5px;
}

img[data-src] {
  filter: blur(0.2rem);
}

img {
  filter: blur(0rem);
  transition: filter 1s;

  border-radius: 5px;
}

footer {
  grid-area: footer;
  margin-top: .5rem;
  border-radius: 5px 5px 0 0;
  padding: 2%;
}

/* Class Styles */
.content {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

@media screen and (min-width: 35rem) {
  .content {
    max-width: 80%;
    margin: 0 auto;
  }
}