@media only screen and (min-width: 64rem) {

  header,
  main,
  footer {
    padding: 10px 10%;
  }

  header h1, h3 {
    font-size: 2rem;
  }

  #subtitle {
    font-size: 2rem;
  }


  nav {
    padding: 0 10%
  }

  nav ul li a {
    margin-left: 0;
  }

  .container-flex {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'events hero hero spotlight1'
    'weather hero hero spotlight2'
    'join news news news';
  }

  #hero {
    grid-area: hero;
  }

  #events {
    grid-area: events;
  }

  #spotlight1 {
    grid-area: spotlight1;
  }

  #spotlight2 {
    grid-area: spotlight2;
  }

  #join {
    grid-area: join;
  }

  #weather {
    grid-area: weather;
  }

  #news {
    grid-area: news;
  }

}