@media only screen and (min-width: 64rem) {
  header,
  main,
  footer {
    padding: 10px 10%;
  }

  header h1,
  header h3 {
    font-size: 2.5rem;
  }

  nav {
    padding: 0 10%
  }

  nav ul li a {
    margin-left: 0;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }

  /*--------------------- ID Selectors ---------------------*/
  #subtitle {
    font-size: 2.5rem;
  }

  #activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }

  #activities .content {
    transition: transform 800ms ease;
  }

  #activities .content:hover {
    transform: scale(1.5);
    z-index: 1;
    box-shadow: none;
    border: 3px solid #292929;
  }

  #hero {
    grid-area: hero;
  }

  #events {
    grid-area: events;
  }

  #spotlight1 {
    grid-area: spotlight1;
  }

  #spotlight2 {
    grid-area: spotlight2;
  }

  #join {
    grid-area: join;
  }

  #weather {
    grid-area: weather;
  }

  #news {
    grid-area: news;
  }

  /*--------------------- Class Selectors ---------------------*/

  .container {
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
      'events hero hero spotlight1'
      'weather hero hero spotlight2'
      'join news news news';
  }

  .top input,
  .top textarea {
    width: 50%;
  }

  .sbs {
    padding: .4rem;
  }

  .minfo {
    display: inline-block;
    padding-left: .5rem;
  }
}