@media only screen and (min-width: 35rem) {
  #motto {
    font-size: 1.5rem;
  }
  
  #lineBreak {
    display: none;
  }

  nav {
    flex-direction: row-reverse;
  }

  nav button {
    display: none;
  }

  #primaryNav {
    display: flex;
    flex-direction: row;
  }
  
  nav ul {
    width: 50%;
  }

  nav ul li a {
    border-top: none;
  }
  
  #burgerBtn {
    display: none;
  }

  .break-row-nav {
    display: none;
  }

  /* Main Styles */
  #discover .container {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'hero hero'
    'news news'
    'spotlight1 spotlight2'
    'join join'
    'events weather';
  }

  #hero {
    grid-area: hero;
  }

  #events {
    grid-area: events;
  }

  #spotlight1 {
    grid-area: spotlight1;
  }

  #spotlight2 {
    grid-area: spotlight2;
  }

  #join {
    grid-area: join;
  }

  #weather {
    grid-area: weather;
  }

  #news {
    grid-area: news;
  }

  /* Footer Styles */
  footer {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: 
    'logo address contact';
  }
  #address {
    grid-area: address;
    text-align: left;
  }

  #contact {
    grid-area: contact;
    text-align: right;
  }

  footer p {
    grid-area: 2/1/2/4;
  }
}