@media only screen and (min-width: 47rem) {
  nav {
    flex-direction: row-reverse;
  }

  nav button {
    display: none;
  }
  
  nav ul {
    width: 50%;
  }

  nav ul li a {
    border-top: none;
  }

  footer {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: 
    'logo address contact';
  }

  /*--------------------- ID Selectors ---------------------*/
  #address {
    grid-area: address;
    text-align: left;
  }

  #contact {
    grid-area: contact;
    text-align: right;
  }

  footer p {
    grid-area: 2/1/2/4;
  }

  #primaryNav {
    display: flex;
    flex-direction: row;
  }

  #burgerBtn {
    display: none;
  }

  #hero {
    grid-area: hero;
  }

  #events {
    grid-area: events;
  }

  #spotlight1 {
    grid-area: spotlight1;
  }

  #spotlight2 {
    grid-area: spotlight2;
  }

  #join {
    grid-area: join;
  }

  #weather {
    grid-area: weather;
  }

  #news {
    grid-area: news;
  }

  #motto {
    font-size: 1.5rem;
  }
  
  #lineBreak {
    display: none;
  }

  #discover .container {
    width: 80%;
    margin: 0 auto;
  }

  #buttons {
    width: 40%;
  }

  /*--------------------- Class Selectors ---------------------*/
  .break-row-nav {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'hero hero'
    'news news'
    'spotlight1 spotlight2'
    'join join'
    'events weather';
  }

  .minfo {
    display: inline-block;
    padding-left: .5rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}