* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body rules here */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* header rules here */

header {
  background-color: #17a8e1;
  padding: 1rem 2%;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
  font-weight: 200;
}