 * {
   --color1: rgb(87, 163, 11);
   --color2: rgb(65, 118, 16);
   --color3: rgb(56, 95, 19);
   --color4: rgb(45, 72, 22);
 }

 body {
   font-size: 16pt;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #202b2e;
   color: white;
   margin: 0px;
   transition: background-color 300ms;
   transition: color 300ms;
 }

 /* Semantic Styles */
 header,
 footer {
   text-align: center;
   background-color: var(--color2);
   border-radius: 0 0 5px 5px;
   padding: 2%;
   color: white;
 }


 header {
   position: relative;
   grid-area: header;
   margin-bottom: .5rem;
 }

 main {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   grid-area: main;
 }

 table {
   margin: 5% 0;
   border-collapse: collapse;
   width: 60%;
   box-shadow: 0 0 5px 2px var(--color1);
 }

 th,
 tr,
 td {
   border: 1px solid var(--color1);
   text-align: center;
   padding: .3rem;
 }

 th {
   color: white;
 }

 caption {
  margin-bottom: 5%;
 }

 tr:nth-child(odd) {
   background-color: rgba(87, 163, 11, 0.1);
 }

 footer {
   grid-area: footer;
   margin-top: .5rem;
   border-radius: 5px 5px 0 0;
   padding: 2%;
 }

 /* Class Styles */
 .content {
   display: grid;
   grid-template-areas:
     'header'
     'main'
     'footer';
   min-height: 100vh;
 }

 .lightmode {
   background-color: #e4eaec;
   color: black;
 }

 .thead {
   background-color: var(--color3);
 }

 .ttitle {
   background-color: var(--color2);
 }

 .largest {
   background-color: var(--color3);
   color: white;
 }

 .btntheme {
   /* Background Sprite */
   background: url('../imgs/light-dark.png') no-repeat -1px -5px;
   background-size: 50px 56px;
   width: 47px;
   width: 47px;
   height: 46px;
   /* Button Positioning */
   position: absolute;
   top: 5px;
   right: 5px;
   /* Button Styling */
   border: transparent;
   border-radius: 50%;
   box-shadow: 0 0 2px 2px var(--color1);
   cursor: pointer;
 }

 @media screen and (min-width: 35rem) {
   .content {
     max-width: 80%;
     margin: 0 auto;
   }

   table {
     max-width: 50%;
   }
 }